*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #CDE8E5;
}
header{
    background-color:  #7AB2B2;
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1500;
}
.hidden{
    display: none;
}
header h1{
    color:black;
    text-align: center;
}
.flightdetailsWithid{
    display: flex;
    flex-direction: column;
    margin:7rem 3rem 1rem 3rem;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(229, 231, 235) ;
}
.flightdetailsWithid h2{
    padding-bottom: 2rem;
}
.flight_details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    height: 70px;
}
.flight_details_left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}
.from_details{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.flight_duration_symbol {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 10px 0 10px;
}
.dot {
    width: 10px;
    height: 10px;
    background-color: rgb(207, 202, 202);
    border-radius: 50%;
    position: absolute;
    left: 0;
}

.line {
    flex-grow: 1;
    border-bottom: 2px solid rgb(207, 202, 202);
    position: relative;
    margin-left: 10px; /* Space for the dot */
    margin-right: 20px; /* Space for the plane */
}
.flight_duration{
    position: absolute;
    left: 40%;
    top:1px;

}
.plane {
    font-size: 24px;
    color: rgb(207, 202, 202);
    position: absolute;
    right: 0;
}
.to_details{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
.time{
    font-size: 20px;
}
.airport-name{
    font-size: 15px;
}
.flight_details_right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
    font-size: 17px;
}
.baggage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 
#passengerForm{
    background-color: #fff;
    margin: 0rem 3rem 1rem 3rem;
    padding: 2rem;
    border-radius: 0.5rem;
}
.salutation{
    margin-top: 10px;
    width: 300px;
    position: relative;    
}
.select-option{
    position: relative;
}
.select-option input{
    width: 100%;
    background-color: #fff;
    color: #000;
    border-radius: 7px;
    cursor: pointer;
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    border:solid;
    border-color: lightgray;
    border-width: 1px;
    outline: 0;
}
.select-option::after{
    content: "";
    border-top: 10px solid #000;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    right: 7px;
    top: 55%;
    margin-top: -8px;
}
.content{
    background-color: #fff;
    color: #000;
    position: absolute;
    border-radius: 7px;
    margin-top: 0px;
    width: 100%;
    z-index: 999;
    display: none;
}
.options{
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding:0;

}
.options li{
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}
.options li:hover{
    background-color: #f2f2f2;
}
.salutation.active .content{
    display: block;
}
.salutation.active .select-option::after{
    transform: rotate(-180deg);
}
.first-name input{
    width:300px;
    background-color: #fff;
    color: #000;
    border-radius: 7px;
    cursor: pointer;
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    border:solid;
    border-color: lightgray;
    border-width: 1px;
    outline: 0;
}
.last-name input{
    width:300px;
    background-color: #fff;
    color: #000;
    border-radius: 7px;
    cursor: pointer;
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    border:solid;
    border-color: lightgray;
    border-width: 1px;
    outline: 0;
    margin-left: 3rem;
}
.name{
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.phone-num input{
    width:300px;
    background-color: #fff;
    color: #000;
    border-radius: 7px;
    cursor: pointer;
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    border:solid;
    border-color: lightgray;
    border-width: 1px;
    outline: 0;
}
.email input{
    width:300px;
    background-color: #fff;
    color: #000;
    border-radius: 7px;
    cursor: pointer;
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    border:solid;
    border-color: lightgray;
    border-width: 1px;
    outline: 0;
    margin-left: 3rem;
}
.contact-details{
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
} 
.seats{
    background-color: #fff;
    margin: 10rem 3rem 3rem 3rem ;
    padding: 3rem;
}    
.seats h2{
    margin-bottom: 2rem;
}   
.seat-map {
    display: grid;
    grid-template-columns: 1fr 1fr 6fr 1fr 1fr 1fr;
    gap: 5px;
    margin-left: 20rem;
    margin-right: 20rem;
    padding: 2rem 1rem 2rem 3rem;
    border: solid;
    border-color: #000;
}
.seat {
    background-color: #ccc;
    padding: 1rem;
    width: 3rem;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.seat.selected {
    background-color: #7AB2B2;
    color: #fff;
}

.seat:hover {
    background-color: #a7e1db;
    color: #fff;
}

button{
    padding: 1rem;
    width: 200px;
    margin: 1rem 0 0 0;
    border: none;
    background-color: #7AB2B2;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
}

.confirm{
    background-color:#fff;
    margin: 10rem 3rem 3rem 3rem;
    padding: 3rem;
}
.confirm h2{
    margin-bottom: 1rem;
}