.flightdeatils_review{
    margin: 20px 40px 0px 40px;
    padding: 0px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    border-radius: 0.5rem;
    background-color: whitesmoke;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.15);
}
.flight_details{
    display: flex;
    flex-direction: row;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    border: none;
}
.flightdeatils_review:hover{
    border: 1px solid #7AB2B2;
    background-color: #ddf4f4e2;
}
.flight_details_left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
}
.from_details{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.flight_duration_symbol{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}
.dot {
    width: 10px;
    height: 10px;
    background-color: rgb(192, 192, 192);
    border-radius: 50%;
    position: absolute;
    left: 0;
}
.line {
    flex-grow: 1;
    border-bottom: 2px dotted rgb(192, 192, 192);
    position: relative;
    margin-left: 10px; /* Space for the dot */
    margin-right: 20px; /* Space for the plane */
}
.plane {
    font-size: 24px;
    position: absolute;
    right: 0;
    margin-bottom: 1px;
    color: rgb(192, 192, 192);
}
.flight_duration{
    position: absolute;
    align-items: center;
    left: 130px;
    z-index: 100;
}
.to_details{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
.time{
    padding-top: 10px;
    font-size: 20px;
}
.airport-name{
    padding-bottom: 10px;
    font-size: 12px;
}
.flight_number{
    align-items: center;
    align-content: center;
    margin-left: -30px;
}
.flight_details_middle{
    align-content: center;
    font-weight: 500;
    font-size: 16px;
}
.flight_details_right{
    align-content: center;
    font-weight: 500;
    font-size: 20px;
}
.book_now{
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #7AB2B2;
    position: absolute;
    right: -0.5rem;
    bottom: 1rem;
}
.reviews {
    display: none;
    margin-top: 20px;
    border-top: 1px solid #eee;
    padding-top: 20px;
    position: relative;
}
.review-text{
    padding-bottom: 1rem;
}