body {
    background-color: #cde8e5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header_2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #7ab2b2;
    color: black;
    padding: 1.5rem 0;
    text-align: center;
    font-size: 24px;
    z-index: 1000;
    transition: top 0.3s ease-in-out;
  }
  
  .header_2.hidden {
    top: -100px; 
  }
  
  .reviews-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 100px; 
  }
  
  .overall {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .overall-rating,
  .overall-review-count {
    font-size: 1.2rem;
  }
  
  .flightReviews {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .review {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
  }
  
  .flight-id,
  .rating_1,
  .comment {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
  }
  