.check-in {
  background-color: #fff;
  width: 80%;
  margin: 2rem auto;
  padding: 1rem;
}

.check-in label {
  font-size: 20px;
}

.check-in input {
  padding: 0.5rem;
  margin-left: 1rem;
  border: solid;
  border-radius: 4px;
  border-width: 1px;
  border-color: rgb(170, 163, 163);
}

.gap_4{
  margin-top : 1rem;
}

.check-in button {
  padding: 0.7rem 2rem;
  border: none;
  background-color: #7AB2B2;
  font-size: 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 1rem;
}

.message_1{
  margin-top : 1rem;
  font-size: 1.2rem;
}
  