.outerDiv{
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #CDE8E5;
}

.BookingDetails{
    margin-bottom: 0.5rem;
}

.container_1 {
    width: 100%;
    height: 100%;
    background-color:#fff;
}

.Date_3{
    margin-top : 1rem;
}

#gap_2{
    display: flex;
    align-items: center;
    gap : 1.5rem;
    margin-bottom: 0.5rem;
}

.flightdetailsWithid_2{
    display: flex;
    flex-direction: column;
    padding : 1rem;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(229, 231, 235) ;
    border: solid 1px lightgray;
    border-radius : 1rem;
}

.flightdetailsWithid_1{
    display: flex;
    flex-direction: column;
    padding : 1rem;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(229, 231, 235) ;
    border: solid 1px lightgray;
    border-radius : 1rem;
}

.flight-details_3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border : 2px solid lightgrey;
    border-radius : 1rem;
    margin-top : 1rem;
}

.flightdetailsWithid_4{
    display: flex;
    flex-direction: column;
    padding : 1rem;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(229, 231, 235) ;
    border: solid 1px lightgray;
    border-radius : 1rem;
    padding-bottom: 2rem;
}

#heading_2{
    background-color:#7AB2B2;
    padding-top:6rem ;
    padding-bottom: 4rem;
    padding-left: 2rem;
}

.page-heading {
    color: black;
    font-weight: 700;
    font-size: 2.5em;
    margin-bottom: 0;
}

.viewprofile{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-top: 0.5rem;
}

.viewprofile img{
    width: 1rem;
    height: 1rem;
}

.btn-primary {
    background-color: #7AB2B2;
    cursor: pointer;
    border: none;
    font-size: 16px;
    color:black;
    margin-top: 0;
}

.btn-secondary {
    width: 100%;
    background-color: #fff;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid rgb(239, 239, 239);
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom : 2rem;
}

.btn-secondary img{
    width: 2rem;
    height: 2rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

.text{
    font-size: 20px;
}

.btn-secondary:hover{
    background-color: rgb(239, 239, 239);
    cursor: pointer;
    border: none;
}

.detail-item {
    margin-bottom: 15px;
    text-align: left;
}

.detail-item label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color:black
}

.detail-item input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    display: block;
}

.detail-item input:focus {
    border-color: #7AB2B2;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.top-bar {
    display: flex;
    justify-content: space-around;
    margin: 10px 10px 20px 10px;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 2rem;
    background-color: #CDE8E5;
}

.tab-btn {
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 1rem;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.tab-btn.active {
    border: none;
    background-color: #7AB2B2;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
    padding: 2rem;
    padding-top : 1rem;
    padding-bottom : 1rem;
    background-color: #CDE8E5;
}

.tab-content h3 {
    margin-bottom: 15px;
    font-weight: 500;
    color: #000000;
}

.back{
    border: none;
    background-color: #7AB2B2;
}

.back img{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.profile-header{
    display:flex;
    flex-direction: row;
    background-color: #7AB2B2;
    padding: 2rem;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.profile-header h1{
    margin-left: 10px;
}

.details{
    padding: 2rem 2rem 0rem 2rem;
}

.save{
    background-color: #7AB2B2;
    width: 100%;
    border: none;
    padding: 1rem;
    font-size: 20px;
    cursor: pointer;
}

.trips-header{
    display:flex;
    flex-direction: row;
    background-color: #7AB2B2;
    padding: 2rem;
    align-items: center;
    padding-top : 4rem;
    padding-bottom: 3rem;
}

.trips-header h1{
    margin-left: 10px;
}

.trip-details{
    display: flex;
    flex-direction: row;
    align-items: center; 
    border-radius: 10px;
    padding: 1rem;
    gap: 1rem; 
    margin-bottom : 1.5rem;
}

.date{
    display: flex;
    justify-content: center; /* Center-align text horizontally */
    align-items: center; /* Center-align text vertically */
    background-color: rgb(239, 239, 239);
    width: 90px; 
    height: 110px; 
    margin-right: 1rem; 
    border: none;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
}

.flight-details_2{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.itinerary{
    display: flex;
    flex-direction: row;
    cursor : pointer;
}

.itinerary p{
    font-size: 1.2rem;
}

.itinerary img {
    width: 1.2rem;
    height: 1.2rem;
}

#nav{
    text-decoration: none;
    color: black;
    margin-left : 2rem;
}

.airport-details{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#view{
    border-radius: 1rem;
    padding : 0.5rem;
    margin-top : 1rem;
    padding-left : 0.2rem;
    padding-right: 0.3rem;
    margin-right : 0.5rem;
    cursor: pointer;
}

.flight_details_2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin-top : 1rem;
    margin-bottom: 1rem;
}

.from_details_2{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.flight_duration_symbol_2 {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 10px 0 10px;
}

.dot_2 {
    width: 10px;
    height: 10px;
    background-color: rgb(207, 202, 202);
    border-radius: 50%;
    position: absolute;
    left: 0;
}

.line_2 {
    flex-grow: 1;
    border-bottom: 2px solid rgb(207, 202, 202);
    position: relative;
    margin-left: 10px; /* Space for the dot */
    margin-right: 20px; /* Space for the plane */
}

.flight_duration_2{
    position: absolute;
    left: 40%;
    top:1px;

}

.plane_2 {
    font-size: 24px;
    color: rgb(207, 202, 202);
    position: absolute;
    right: 0;
}

.to_details_2{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.time_2{
    font-size: 20px;
}

.airport-name_2{
    font-size: 15px;
}

.baggage_details h3{
    margin-bottom: 1rem;
    font-size: 17px;
}

.baggage_details p{
    margin-bottom: 1rem;
    font-size: 17px;
}

.cancel_btn{
    padding: 1rem;
    background-color: #7AB2B2;
    border: none;
    font-size: 17px;
    margin-top : 1rem;
}

.update-message{
    display : flex;
    justify-content: center;
    margin-bottom : 1rem;
    font-size : 1.2rem;
}