.outer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #CDE8E5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container_3 {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

.container_3 h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container_3 h2 {
    text-align: center;
    margin-bottom: 30px;
}

.FlightNumber {
    font-size: 1.2rem;
}

.rating {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
}

#rating {
    margin-right: 0.5rem;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

#rating_1 {
    margin-right: 1rem;
    font-size: 1.2rem;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 2em;
    color: #ddd;
    cursor: pointer;
    transition: color 0.2s;
    padding: 0 5px;
}

.out {
    display: flex;
    justify-content: center;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    box-sizing: border-box;
    resize: vertical;
    font-size: 16px;
    color: #333;
}

.container_3 button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #7AB2B2;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.container_3 button:hover {
    background-color: #5eb2b2;
}

#reviews {
    margin-top: 20px;
}

#reviewList {
    list-style-type: none;
    padding: 0;
}

#flightNum {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 4rem;
}

#reviewList li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    color: #333;
}

.container_3 form input {
    width: 150px;
    background-color: #fff;
    color: #000;
    border-radius: 4px;
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    border: solid;
    border-color: rgb(172, 169, 169);
    border-width: 1px;
    outline: 0;
}
